<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fac</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TesteServlet</display-name>
    <servlet-name>TesteServlet</servlet-name>
    <servlet-class>br.com.fac.teste.TesteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TesteServlet</servlet-name>
    <url-pattern>/TesteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisciplinaServlet</display-name>
    <servlet-name>DisciplinaServlet</servlet-name>
    <servlet-class>br.com.fac.disciplina.DisciplinaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplinaServlet</servlet-name>
    <url-pattern>/DisciplinaServlet</url-pattern>
  </servlet-mapping>
</web-app>